.wrapper {
  background: #fff;
  margin: 16px auto;
  max-width: 870px;
  padding: 3%;
  width: 90%;
}

.App {
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card-style {
  text-align: left;
  line-height: 20px;
  max-width: 250px;
  padding: 7px;

}

.card-title-style {
  font-weight: bold;
}

.card-style img {
  height: 250px;
}

.footer {
  font-family: 'Cambria';
  font-size: 12px;
}

.home img {
  height: 400px;
}
